@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: normal;
background: #f1f1f1;
color: #0f141e;
}

.header {
    width: 100%;
}

a {
    text-decoration: none;
    margin-left: 10px;
}

a:visited {
    color: #86898f
}

a:hover {
    color: rgb(1, 1, 1);
    size: 2rem;
    transform: rotate(360deg);
    transition: all 0.55s ease-in;

}

a:active {
    color: rgb(146, 146, 158);
}

.social-media {
    margin-top: 20px;
    display: flex;

}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 300px;
    border-radius: 28px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
}


.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 20px;
}

.info-text p {
    font-style: normal;
    color: black;
}

.info-text h4 {
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .info {
    display: block;
    text-align: center;
    }
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.bg-blue {
    background-color: #d1fafa;
}

.bg-blue li:hover {
    font-size: large;
    color: rgb(38, 37, 37);
}

.bg-orange {
    background-color: #f6e6cd;
}

.bg-grey {
    background: #c9cfd6;
}

.bg-grey a:hover {
    background: #a09fbb;
    transition-duration: 0.5s;
    padding: 5px;
    border-radius: 5px;
}

.table {
    width: 100%;
}

.tabe td {
    padding-bottom: 20px;
}
   
.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0 ;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(209, 176, 176);
    padding-bottom: 5px;
}

.form h2 {
    /* text-align: center; */
}

.form-row {
    margin-bottom: 30px;
    /* display: flex; */
}

.form-row .form-group {
    display: inline-block;
    margin-right: 30px;
    width: 50%;
    width: calc(50%-20%);
}

.form-row .form-group:last-child {
    margin-right: 0;
}


.form-group label {
    display: block;
    font-size: 20px;
    color: black;
}


.form-group input, textarea {
    FONT-VARIANT: JIS04;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    margin-bottom: 15px;
    outline: none;
    font-family: inherit;
}

.btn {
    transition: all 0.2s ease-in;
    margin: 0 auto;
    background: #111;
    padding: 10px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
    color: orange;   
}
